<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Html.FrontHtml().HtmlTitle()
    @Html.FrontHtml().Meta()
    @Html.FrontHtml().RegisterStyles()
    @Html.FrontHtml().RegisterScripts()
</head>
<body style="background:#ececec;">
    <div>
        @Html.FrontHtml().RenderView("Builtin.Header", ViewData)
    </div>

    <div class="content">

        @Html.FrontHtml().Position("Main")
    </div>

    @Html.FrontHtml().RenderView("Builtin.Footer", ViewData)

    <script type="text/javascript">
//登陆悬浮框倒计时
$(function(){
	 var wait=30;
	  document.getElementById("btn").disabled = false;
	  function time(o) {
			  if (wait == 0) {
				  o.removeAttribute("disabled");
				  o.value="获取";
				  wait = 30;
			  } else {
				  o.setAttribute("disabled", true);
				  o.value="(" + wait + "S)";
				  wait--;
				  setTimeout(function() {
					  time(o)
				  },
				  1000)
			  }
		  }
	  document.getElementById("btn").onclick=function(){time(this);}
});;;
    </script>
</body>
</html>
