@{
    var labelCategory = "任务列表";
}


<div class="banner_box over w_100">
    <ul class="banner_img bd">
        <li style="display: list-item;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/renwu_banner.png")"></a></li>
        <li style="display: none;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/renwu_banner.png")"></a></li>
        <li style="display: none;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/renwu_banner.png")"></a></li>
    </ul>
    <ul class="banner_yuan over hd">
        <li class="fl on"></li>
        <li class="fl"></li>
        <li class="fl"></li>
    </ul>
</div>

<div class="fl demo_box">
    <ul class="over">
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
        <li class="fl">
            <div class="demo_top over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/baidu.png")" class="fl">
                <span class="fr">09-21 17:21</span>
            </div>
            <div class="demo_text over">
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                <p><span class="fr">共<b>4</b>个关键字</span></p>
            </div>
            <div class="demo_button">
                <span class="fl"><b>31</b>人竞标</span>
                <a class="fr" id="mashang" href="javascript:void(0);">马上参与</a>
            </div>
        </li>
    </ul>
</div>


<div id="BodyContent_pagerBottom" class="paginator over">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
        <tbody>
            <tr>
                <td class="paginator" valign="bottom" nowrap="true">
                    <div class="pagination pagination-centered">
                        <ul class="pager pull-left">
                            <a href="" class="cpb">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                            <a href="">6</a>
                            <a href="">7</a>
                            <a>...</a>
                            <a href="">236</a>
                            <a href="">237</a>
                            <span class="fy_count">当前显示 1 - 12 总共 2,843</span>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
