@{
    var labelCategory = "免费建站";
}

<div><img src="@Url.FrontUrl().ThemeFileUrl("images/jianzhan_banner_2.png")" class="w_100"></div>

<!--免费建站-->
<div class="w_1200 jianzhan_box mt_10 mb_10 over">
    <!--筛选导航-->
    <div class="jianzhan_nav over">
        <div class="tiaojian over">
            <span class="fl">筛选条件</span>
            <a class="fl" href="javascript:void(0);">机械行业x</a>
            <input type="button" value="搜索" class="fr input_button mr_20">
            <input type="text" class="fr input_text" placeholder="请输入模板编号进行查询">
        </div>
        <div class="shaixuan over mb_10">
            <ul class="ul_3">
                <h4>所属行业：</h4>
                <div class="li_box over li_box_show">
                    <li class="fl"><a href="">机械设备</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">机械设备</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">机械设备</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">机械设备</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">装修</a></li>
                    <li class="fl"><a href="">生活务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">生活服务</a></li>
                    <li class="fl"><a href="">建筑装修</a></li>
                    <li class="fl"><a href="">其他</a></li>
                </div>
            </ul>
            <ul class="ul_3">
                <h4>色系：</h4>
                <div class="over sekuai">
                    <a class="bg_red fl"></a>
                    <a class="bg_ff6300 fl"></a>
                    <a class="bg_fae242 fl"></a>
                    <a class="bg_80d032 fl"></a>
                    <a class="bg_26e0d1 fl"></a>
                    <a class="bg_198ede fl"></a>
                    <a class="bg_ff68ff fl"></a>
                    <a class="bg_990099 fl"></a>
                    <a class="bg_ffffff fl"></a>
                    <a class="bg_999999 fl"></a>
                    <a class="bg_964b00 fl"></a>
                    <a class="bg_000000 fl"></a>
                    <a class="bg_duose fl over">
                        <span class="fl bg_198ede"></span>
                        <span class="fl bg_80d032"></span>
                        <span class="fl bg_fae242"></span>
                        <span class="fl bg_ff6300"></span>
                    </a>
                </div>
            </ul>
        </div>
    </div>

    <!--模版-->
    <div class="moban mt_10 over">
        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover" style="display: none;">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover" style="display: none;">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover" style="display: none;">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover" style="display: none;">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>


        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover" style="display: none;">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>

        <div class="moban_01 fl">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/moban_img.png")" class="w_100">
            <p class="mt_10">编号：0001</p>
            <p>行业：制造业、电脑硬件、电子电工、家…</p>
            <div class="moban_01_hover">
                <a class="fl">预览</a>
                <a class="fr">选择</a>
            </div>
        </div>

        <div id="BodyContent_pagerBottom" class="paginator over">
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                <tbody>
                    <tr>
                        <td class="paginator" valign="bottom" nowrap="true">
                            <div class="pagination pagination-centered">
                                <ul class="pager pull-left">
                                    <a href="" class="cpb">1</a>
                                    <a href="">2</a>
                                    <a href="">3</a>
                                    <a href="">4</a>
                                    <a href="">5</a>
                                    <a href="">6</a>
                                    <a href="">7</a>
                                    <a>...</a>
                                    <a href="">236</a>
                                    <a href="">237</a>
                                    <span class="fy_count">当前显示 1 - 12 总共 2,843</span>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

@Html.FrontHtml().RenderView("SEO.TotalTransaction")
