@{
    var labelCategory = "专家榜";
}


<!--专家榜banner-->
<div><img src="@Url.FrontUrl().ThemeFileUrl("images/zhuanjia_banner.png")" class="w_100" /></div>

<!--专家榜-->
<div class="w_1200 mt_10 mb_10 over">

    <div class="renqi_paihang over fl">

        <div style=" background:#fff;">
            <div class="tiaojian over">
                <span class="fl">筛选条件</span>
            </div>

            <div class="shaixuan over mt_10">
                <ul class="ul_4">
                    <div class="li_box over li_box_show fl">
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                        <li class="fl"><a href="">上海</a></li>
                        <li class="fl"><a href="">北京</a></li>
                    </div>
                    <a class="click_show fr" href="javascript:void(0);">展开</a>
                </ul>
            </div>

            <h3 class="renqibang_h3 over">优化师人气榜<a href="" class="fr">更多></a></h3>

            <ul class="shi_box over">
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <span class="name mt_10">xxxxx</span>
                        <span class="vip">普通</span>
                        <span class="baifen">达标率：100%</span>
                    </a>
                </li>
            </ul>

            <div id="BodyContent_pagerBottom" class="paginator over">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td class="paginator" valign="bottom" nowrap="true">
                                <div class="pagination pagination-centered">
                                    <ul class="pager pull-left">
                                        <a href="" class="cpb">1</a>
                                        <a href="">2</a>
                                        <a href="">3</a>
                                        <span class="fy_count">当前显示 1 - 3 总共 24</span>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="xinjin mt_10 over">

            <h3 class="renqibang_h3 over">优化师人气榜<a href="" class="fr">更多></a></h3>
            <ul class="over xinjin_box">
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
            </ul>

            <ul class="over xinjin_box">
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
            </ul>

            <ul class="over xinjin_box">
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
                <li class="fl">
                    <a href="">
                        <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" />
                        <p><b>小凡</b></p>
                        <span>达标率：<b>87%</b></span>
                    </a>
                </li>
            </ul>



            <div id="BodyContent_pagerBottom" class="paginator over">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td class="paginator" valign="bottom" nowrap="true">
                                <div class="pagination pagination-centered">
                                    <ul class="pager pull-left">
                                        <a href="" class="cpb">1</a>
                                        <a href="">2</a>
                                        <a href="">3</a>
                                        <span class="fy_count">当前显示 1 - 3 总共 24</span>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="zhuanjia_text fr">
        <div class="zhuanjia_ft over">
            <h3 class="renqibang_h3_2 over">SEO专家访谈<a href="" class="fr">往期专家></a></h3>
            <div class="over zhuanjia_img mt_20">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl" />
                <div class="fl">
                    <h5>技术牛人零点来袭—钱进网专家访谈首期</h5>
                    <span>云客年入百万</span>
                </div>
            </div>
            <p class="mt_10">本次是云客网首次访谈云客网上的接单优化师，为了让客户更多的了解我们的优化师的同时也让云客网的优化师有一个更好的展示自己的舞台，我们首次访谈的嘉宾是云客网优化师佣金排行榜第一的零点！</p>
        </div>

        <div class="bowen over mt_10">
            <h3 class="renqibang_h3_2 over">专家博文观点<a href="" class="fr">更多></a></h3>
            <div class="over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang" />
                <div class="fl bowen_yonghu mt_20">
                    <span class="biaoti">SEO的核心思想</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                        <a class="fl">评论</a>
                        <a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">经与权是中国古代哲学思想的重要内容。经为常，持久不变。权为时措之宜，随机而变。经权之道即指重要思想坚持不变，集体策略因时而变。今天我讲SEO的核心思想，其实就是讲SEO的经，与之对应的则是权，SEO的权指具体的优化技巧等内容。经乃常道，不变之法。只有掌握了SEO的经，持经达变，你才能真正理解SEO的精髓，才可能真正学好SEO，就像修炼武侠小……</p>
        </div>


        <div class="remen over mt_10 rmbw">
            <h3 class="renqibang_h3_2 over">热门博文<a href="" class="fr">更多></a></h3>
            <div class="rmbw over mt_10">
                <ul>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i style="display: inline-block;width:100px" class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/expert/blog/54.html">
                            <!--<img src="/assets/theme/pc/images/tx.jpg" class="bw_tx">-->
                            <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="bk_hot_img fl" alt="用户头像" />
                            <div class="rmbw_right fr">
                                <p class="rmbw_js">白帽SEO技术 PK 黑帽S..</p>
                                <p class="rmbw_name">
                                    <i class="fl"> 美姿姿SEO团队</i>
                                    <em class="fr">阅读（223）</em>
                                    <img src="images/vip_1.png" class="fr">
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="bowen over mt_10">
            <h3 class="renqibang_h3_2 over">最新博文<a href="" class="fr">更多></a></h3>
            <div class="over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang" />
                <div class="fl bowen_yonghu mt_20">
                    <span class="biaoti">SEO的核心思想</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                        <a class="fl">评论</a>
                        <a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text bowen_text_2 mt_10">SEO是借助搜索引擎平台来博取利益的一种符合平台规则的特定的广告或营销手段的称呼。SEO的价值无论对于企业还是个人，就是获得名和利，在企业叫品牌，在个人叫知名度。还有种说法…</p>

            <div class="over">
                <img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang" />
                <div class="fl bowen_yonghu mt_20">
                    <span class="biaoti">SEO的核心思想</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                        <a class="fl">评论</a>
                        <a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">SEO是借助搜索引擎平台来博取利益的一种符合平台规则的特定的广告或营销手段的称呼。SEO的价值无论对于企业还是个人，就是获得名和利，在企业叫品牌，在个人叫知名度。还有种说法…</p>
        </div>
    </div>
</div>

@Html.FrontHtml().RenderView("SEO.TotalTransaction")
