@{
    var labelCategory = "新闻资讯";
}

<div class="w_1200 mt_10 mb_10 over">

	<div class="xinwen_left_box fl">
    	<div class="xinwen_img_box w_100">
            <a class="prev" href="javascript:void(0);"></a>
            <a class="next" href="javascript:void(0);"></a>
            <div class="tempWrap" style="overflow:hidden; position:relative; width:895px"><ul class="xinwen_img over w_100 bd" style="width: 2685px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                <li style="float: left; width: 895px;"><img src="@Url.FrontUrl().ThemeFileUrl("images/xw_banner.png")" class="w_100"></li>
                <li style="float: left; width: 895px;"><img src="@Url.FrontUrl().ThemeFileUrl("images/xw_banner.png")" class="w_100"></li>
                <li style="float: left; width: 895px;"><img src="@Url.FrontUrl().ThemeFileUrl("images/xw_banner.png")" class="w_100"></li>
            </ul></div>
        </div>
        
        <div class="xinwen_sousuo w_100 mt_10 over">
        	<div class="fl over xw_sousuo mr_10">
                <input class="fl" type="text" placeholder="输入您要找的新闻关键词">
                <a href="" class="fl">搜索</a>
            </div>
            <a class="fl gjz">ALL</a>
            <a class="fl gjz">ALL</a>
            <a class="fl gjz">关键字</a>
            <a class="fl gjz">ALL</a>
            <a class="fl gjz">ALL</a>
            <a class="fl gjz">关键字</a>
            <a class="fl gjz">ALL</a>
            <a class="fl gjz">ALL</a>
        </div>
        
        <div class="xw_tab_set w_100 mt_10">
        	<ul class="tab over">
            	<li class="fl style"><a>行业热文</a></li>
            	<li class="fl"><a>行业热点</a></li>
            	<li class="fl"><a>网络推广</a></li>
            	<li class="fl"><a>营销策划</a></li>
            	<li class="fl"><a>移动营销</a></li>
            	<li class="fl"><a>微信营销</a></li>
            	<li class="fl"><a>电商营销</a></li>
            </ul>
            
            <div class="xw_text_box">
            	<ul>
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>641</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>642</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>643</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>644</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>645</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>646</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
                
            	<ul style="display:none;">
                	<li class="over">
                    	<img src="@Url.FrontUrl().ThemeFileUrl("images/xw_img.png")" class="fl xw_img">
                        <div class="fr xw_text">
                        	<h4>网站建设及优化推广</h4>
                            <p class="dl">SEO优化推广就是对网站框架的优化，对标题、关键词的设置，对URL的设置等等太多细节，可以互换链接、发外链等一系列推广操作</p>
                            <div class="li_xx">
                                <p class="li_xx_l li_xx_l1">2016-08-09</p>
                                <p class="li_xx_l li_xx_l2">阅读（<em>647</em>）</p>
                                <p class="li_xx_l li_xx_l3">赞（<em>0</em>）</p>
    
                                <!-- 小按钮 依次为分享 不喜欢 喜欢 -->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div id="BodyContent_pagerBottom" class="paginator over">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                    <tbody>
                        <tr>
                            <td class="paginator" valign="bottom" nowrap="true">
                                <div class="pagination pagination-centered">
                                    <ul class="pager pull-left">
                                        <a href="" class="cpb">1</a>
                                        <a href="">2</a>
                                        <a href="">3</a>
                                        <span class="fy_count">当前显示 1 - 3 总共 2,843</span>
                                    </ul>
                                </div>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    
    <div class="zhuanjia_text fr">
    	<div class="zhuanjia_ft over rmwz">
            <h3 class="renqibang_h3_2 over">热门文章<a href="" class="fr">更多&gt;</a></h3>
        	<div class="over">
            	<img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang">
                <div class="fl bowen_yonghu mt_20">
                	<span class="biaoti">为什么要做SEO</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                    	<a class="fl">评论</a>
                    	<a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">经与权是中国古代哲学思想的重要内容。经为常，持久不变。权为时措之宜，随机而变。经权之道即指重要思想坚持不变，集体策略因时而变。今天我讲SEO的核心思想，其实就是讲SEO的经，与之对应的则是权，SEO的权指具体的优化技巧等内容。经乃常道，不变之法。只有掌握了SEO的经，持经达变，你才能真正理解SEO的精髓，才可能真正学好SEO，就像修炼武侠小……</p>
        </div>
        
    	<div class="zhuanjia_ft over rmwz">
        	<div class="over">
            	<img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang">
                <div class="fl bowen_yonghu mt_20">
                	<span class="biaoti">为什么要做SEO</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                    	<a class="fl">评论</a>
                    	<a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">经与权是中国古代哲学思想的重要内容。经为常，持久不变。权为时措之宜，随机而变。经权之道即指重要思想坚持不变，集体策略因时而变。今天我讲SEO的核心思想，其实就是讲SEO的经，与之对应的则是权，SEO的权指具体的优化技巧等内容。经乃常道，不变之法。只有掌握了SEO的经，持经达变，你才能真正理解SEO的精髓，才可能真正学好SEO，就像修炼武侠小……</p>
        </div>
        
    	<div class="zhuanjia_ft over rmwz">
        	<div class="over">
            	<img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang">
                <div class="fl bowen_yonghu mt_20">
                	<span class="biaoti">为什么要做SEO</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                    	<a class="fl">评论</a>
                    	<a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">经与权是中国古代哲学思想的重要内容。经为常，持久不变。权为时措之宜，随机而变。经权之道即指重要思想坚持不变，集体策略因时而变。今天我讲SEO的核心思想，其实就是讲SEO的经，与之对应的则是权，SEO的权指具体的优化技巧等内容。经乃常道，不变之法。只有掌握了SEO的经，持经达变，你才能真正理解SEO的精髓，才可能真正学好SEO，就像修炼武侠小……</p>
        </div>
        
        
    	<div class="zhuanjia_ft over rmwz">
        	<div class="over">
            	<img src="@Url.FrontUrl().ThemeFileUrl("images/touxiang_2.png")" class="fl touxiang">
                <div class="fl bowen_yonghu mt_20">
                	<span class="biaoti">为什么要做SEO</span>
                    <span class="bowen_name">作者：云哥2016</span>
                    <div class="pinglun_zan">
                    	<a class="fl">评论</a>
                    	<a class="fr">点赞<span>1</span></a>
                    </div>
                </div>
            </div>
            <p class="bowen_text mt_10">经与权是中国古代哲学思想的重要内容。经为常，持久不变。权为时措之宜，随机而变。经权之道即指重要思想坚持不变，集体策略因时而变。今天我讲SEO的核心思想，其实就是讲SEO的经，与之对应的则是权，SEO的权指具体的优化技巧等内容。经乃常道，不变之法。只有掌握了SEO的经，持经达变，你才能真正理解SEO的精髓，才可能真正学好SEO，就像修炼武侠小……</p>
        </div>
    </div>
    
    
</div>

@Html.FrontHtml().RenderView("SEO.TotalTransaction")
